.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: end;
}
.top_btn {
  display: flex;
  gap: 20px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 20px;
}

.form_fields {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
  position: relative;
}

.form_fields input {
  height: 40px;

  padding: 0 12px;
}
.form_fields label {
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: white;
  padding: 0 6px;
}
